
.items {
  display: flex;
}
.items li {
  margin: 0 0.5em 0 0;
}
.items li:first-child {
  margin-top: 0;
}
.items a {
  color: #00f;
  text-decoration: none;
}
.items a:hover {
  text-decoration: underline;
}

.drawer .items {
  display: block;
  padding: 2em 1em 0;
}
.drawer .items li {
  margin: 0 0 1em;
}

.menu.burger {
  display: flex;
  justify-content: flex-end;
}

.toggler {
  background: #0f0;
  cursor: pointer;
  display: inline-block;
  height: 3em;
  position: relative;
  width: 3em;
}
.togglerIn,
.togglerIn:after,
.togglerIn:before {
  background: #fff;
  height: 0.15em;
  position: absolute;
  width: 70%;
}
.togglerIn {
  left: 50%;
  margin: -0.1em 0 0 -35%;
  top: 50%;
}
.togglerIn:after,
.togglerIn:before {
  content: '';
  left: 0;
  width: 100%;
}
.togglerIn:after {
  top: -0.75em;
}
.togglerIn:before {
  bottom: -0.75em;
}
