
.footer {
  bottom: 0;
  height: 3em;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.header {
  padding: 1em 0;
}

.layout {
  min-height: 100%;
  position: relative;
}

.main {
  padding: 0 0 4em;
}
